html {
  display: table;
  margin: auto;
}
body{
  background-color:white;
  display: table-cell;
  vertical-align: middle;
}
p{
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
